.page-body{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
  align-items: center;
}

.refresh-button{
  padding: 15px;
  font-size: 1.2rem;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
